_site/*
_theme_packages/*

Thumbs.db
.DS_Store

!.gitkeep

.rbenv-version
.rvmrc

_layouts/*
_plugins/*
assets/*
_includes/*

404.html
History.markdown
README.md
Rakefile
changelog.md
archive.html
categories.html
pages.html
sitemap.txt
tags.html

